{% extends 'base.html' %}
{% block content %}<div class="card-body">
  <div class="table-responsive">


    {% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0" style="font-size: x-large;">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <b>{{ message }}</b>
      </div>
    </div>
    {% endfor %}
    {% endif %}


    <table class="table">
      <thead class=" text-primary">
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Occupation
        </th>
        <th>
          gender
        </th>
        <th>
          identifier
        </th>
        <th>
          Delete
        </th>
        <th>
          Update
        </th>
        <th>
          View User
        </th>

      </thead>
      <tbody>
        <tr>
          {% for person in persons %}
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.occupation}}</td>
          <td>{{person.gender}}</td>
          <td>{{person.user_id}}</td>
          <td><a href="{% url 'delete_person' person.user_id %}">Delete</a></td>
          <td><a href="{% url 'edit_person' person.user_id %}">Update</a></td>
          <td><a href="{% url 'view_person' person.user_id %}">View</a></td>
          <td><a href="{% url 'secondvaccination' person.user_id %}">Administer 2nd Vaccination</a></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}